body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: rgb(0,3,94);
    background: linear-gradient(90deg, rgba(0,3,94,1) 0%, rgba(0,7,210,1) 35%, rgba(207,0,0,1) 65%, rgba(168,0,0,1) 100%);
}

.container{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.295);
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1);
}

form{
    margin-bottom: 20px;
}

.oculto{
        display: none;
}